$dark: #282c36;

$hompageBgColor: #ffffff;

$fontColor: #414241;
$darkFontColor: #000000;
$lightFontColor: #1b1c1d99;
$lighterFontColor: #707070;
$orangeFontColor: #f37028;
$blueFontColor: #33a8dd;
$assitantblue: #0053cc;
$tabColor: #199fda;
$homepageButton: #222c78;
$blackColor: #000000;
$fontColor: #414241;

$eventColor: #e1f0ff;

$darkFontColor: #000000;
$lightFontColor: #1b1c1d99;

$cardBorderColor: #dfe1e6;
$cardTitleColor: #091f42;
$cardNumberColor: #454545;
$greenDotColor: #028859;
$orangeDotColor: #ff991f;
$darkOrangeDotColor: #ff9073;
$yellowDotColor: #ffc402;

$tenantQandAColor: #00a3bf;
$titleInfo: #888888;

$blueColor: #0053cb;
$btnCallColor: #0091ea;

$btnBackGroundColor: #2a32780a;
$greyTextColor: #707070;
$greyDotColor: #9e9e9e;

$smsTextBtnBackGroundColor: #fff3e0;
$whatsAppTextBtnBackGroundColor: #eefef6;

$whiteColor: #fff;
$cardPurposeColor: #888888;

$BlueColor: #0053cc;
$lightBlueColor: #00a3bf;
$darkThemeFontColor: #091f42;
$borderColor: $cardBorderColor;
$themeblue: $BlueColor;
$themeblueHover: #2172eb;
$hompageBgColor2: #f3f4f6;
$blueLinesColor: #dce9fb;
$redFontColor: #de350c;
$lightRedColor: #f46363;
$darkBlueColor: #2a3278;
$blueFontColor2: #40cfcd;

$calendarHeaderBackground: #f2f2f2;
$boxShadowLightColor: #b4b1b1;
$statusCompletedBgColor: #f7ffdd;
$statusInProgressBgColor: #fdf4e0;
$statusBlockedBgColor: #ffebe6;

$statusCompletedBorderColor: #357a38;
$statusInProgressBorderColor: #eaeaea;
$statusBorderColor: #eaeaea;

$statusBlockedRecBgColor: #f6707f;
$statusInProgressRecBgColor: #f3ab3c;
$statusCompletedRecBgColor: #899b4b;
$scrollBar: #0052ccab;
$scrollBarHover: #0052ccdc;
