@import "../variables/variables.scss";

.black-bg {
    background-color: $blackColor;
}

.bg-white {
    background-color: $whiteColor;
}

.event-bg {
    background-color: $eventColor;
}

.themeblue-bg {
    background-color: $themeblue;
}

.light-bg {
    background-color: $calendarHeaderBackground;
}

.color-white {
    background-color: $hompageBgColor;
}

.color-white2 {
    background-color: $hompageBgColor;
}

.blue-lines-bg-color {
    background-color: $blueLinesColor;
}

.darkblue-bg-color {
    background-color: $darkBlueColor;
}

.blue-theme-bg-color {
    background-color: $themeblue;
}

.green-bg {
    background-color: $greenDotColor;
}

.orange-bg {
    background-color: $orangeDotColor;
}

.lightblue-bg {
    background-color: $lightBlueColor;
}

.blue-bg {
    background-color: $BlueColor;
}

.green-dot-color {
    background-color: $greenDotColor;
}

.orange-dot-color {
    background-color: $orangeDotColor;
}